@import "tailwindcss";

@theme {
  --color-primary: #7f13ec;
  --color-background-light: #f7f6f8;

  --font-display: 'Manrope', sans-serif;

  --radius-default: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}